.idea/
*.iml
*.iws

/out/
*/out/
*.class

/.mvn/
target/
build/
.gradle/
gradle-app.setting
!gradle-wrapper.jar

**/.m2/repository/
**/.gradle/

*.log
*.tmp
hs_err_pid*
*.swp

.DS_Store
Thumbs.db

application.properties
application.yml
.env
*.jks

/test-output/

docker-compose.override.yml

*.db
*.sqlite
